body {
    margin: 0;
    padding: 0;
}
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.hr {
    padding-top: 20px;
    padding-right: 20px;
    float: right;
}
.box {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    float: right;
}
.main {
    display: flex;
}
.left-content {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    
}
.right-content {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.mbox {
    padding-left: 40px;
    padding-top: 40px;
    height: 170px;
}
.mmbox {
    margin-bottom: 10px;
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    float: left;
}